#
# This source file is part of the Stanford Biodesign Digital Health Spezi Web Design System open-source project
#
# SPDX-FileCopyrightText: 2024 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Deployment

on:
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: production
  cancel-in-progress: false

jobs:
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build-and-test.yml
    permissions:
      contents: read
      checks: write
      actions: read
      security-events: write
    secrets: inherit
  publishpackage:
    name: Publish Package
    needs: build-and-test
    uses: StanfordBDHG/.github/.github/workflows/npm-publish-package.yml@v2
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    with:
      packageVersion: ${{ github.event.release.tag_name }}
  deploy-pages:
    name: Deploy GitHub Pages
    needs: build-and-test
    uses: ./.github/workflows/deploy-pages.yml
    permissions:
      contents: read
      pages: write
      id-token: write
